<div class="container mr-auto"  style="margin-top: 90px;">
    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <button type="button" id="btnPrev" class="btn btn-light mr-lg-0">Previous</button>
                <button type="button" id="btnNext" class="btn btn-light mr-lg-0">Next</button>
                <span class="left" id="npTitle"></span>
            </div>
            <div id="audiowrap">
                <div id="audio0">
                    <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                </div>
            </div>
            <div id="plwrap">
                <ul id="plList"></ul>
            </div>
        </div>
    </div>
</div>
