<div class="jumbotron" style="margin-top: 50px;">
    <h1 class="display-5">Hi there!</h1>
    <p class="lead">Explore the world of music and MusicCAT will help you :)</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-success but" data-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="false" aria-controls="collapsePrice" style="font-size: 20px">
            Start
        </a>
    </p>
</div>


<div class="collapse" id="collapsePrice">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-6">Pricing</h2>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow" style="width: 8rem;">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">$0 <small class="text-muted">/ month</small></h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><span class="fa fa-check"></span> Shuffle play</li>
                        <li><span class="fa fa-times"></span> Ad free</li>
                        <li><span class="fa fa-times"></span> Unlimited skips</li>
                        <li><span class="fa fa-times"></span> Listen offline</li>
                        <li><span class="fa fa-times"></span> Play any track</li>
                        <li><span class="fa fa-times"></span> High quality audio</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
            </div>


        <div class="card mb-4 box-shadow" style="width: 8rem;">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title pricing-card-title">$3.99  <small class="text-muted">/ month</small></h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <li><span class="fa fa-check"></span> Shuffle play</li>
                    <li><span class="fa fa-check"></span> Ad free</li>
                    <li><span class="fa fa-check"></span> Unlimited skips</li>
                    <li><span class="fa fa-check"></span> Listen offline</li>
                    <li><span class="fa fa-check"></span> Play any track</li>
                    <li><span class="fa fa-check"></span> High quality audio</li>
                </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
